<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap css link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Boostrap icons link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!-- Google fonts link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">

    <!--sweet alert script link-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom css link-->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Hndlebar Tittle-->
    <title> <%= typeof title != 'undefined' ? title: 'CookingBlog - Made by Lexo' %> </title>

</head>
<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg">

        <header class="d-flex flex-wrap lign-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none text-dark">
                <img src="/img/download.svg" width="229px" height="68px" alt="CookingBlog logo">
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
                <li><a href="/submitRecipe" class="nav-link px-2 link-secondary">Publicar</a></li>
                <li><a href="/enmantencion" class="nav-link px-2 link-secondary">Inciar</a></li>
                <li><a href="/enmantencion" class="nav-link px-2 link-secondary">Contacto</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <form method="POST" action="/search">
                    <input type="search" name="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
            </div>
        </header>

        <main>
            <%- body -%>
        </main>
        
        <footer class="py-5">
            <p>Build by Lexo</p>
        </footer>

    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>