<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Sube tu receta ahora!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Comparte tu Pasión Culinaria: Publica tus Recetas de Forma Sencilla y Rápida en CookingBlog </p>
    </div>
  </div>
  
  <div class="row justify-content-center">

    <div class="col-8">
  
      <form action="/submitRecipePost" method="POST" enctype='multipart/form-data'>
      
        <div class="row g-3">
  
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Nombre receta</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          
          <div class="col-12">
            <label for="description" class="form-label">Descripccion</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Ingredientes</label><br>
            <small>Ejemplo: Tomate</small>
            <div class="ingredientList">
              <div class="ingredeintDiv mb-1">
                <input type="text" name="ingredients[]" class="form-control">
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+</button>
            <button type="button" class="btn btn-outline-primary" id="removeIngredientsBtn">-</button>
          </div>
  
          <div class="col-12">
            <label for="category">Selecciona las categorias</label>
            <select class="form-select form-control" name="category" aria-label="Category">
              <option selected>Selecciona...</option>
              <option value="Aperitivos y Tapas">Aperitivos y Tapas</option>
              <option value="Platos Vegetarianos">Platos Vegetarianos</option>
              <option value="Desayunos">Desayunos</option>
              <option value="Almuerzos">Almuerzos</option>
              <option value="Repostería">Repostería</option>
              <option value="Platos Veganos">Platos Veganos</option>
              <option value="Cenas">Cenas</option>
              <option value="Postres">Postres</option>
              <option value="Comida Fría">Comida Fría</option>
              <option value="Comida Caliente">Comida Caliente</option>
              <option value="Comida Rápida">Comida Rápida</option>
            </select>
          </div>
  
          <div class="col-12">
            <label for="image">Product Image</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Publicar</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>

  <script>
    window.onload = function() {
      // Mostrar la alerta
      Swal.fire("Debe rellenar todos los campos para enviar la receta.");
    };
  </script>